*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    scroll-behavior: smooth;
    overflow-x: none;
}

body{
    max-width: 100%;
    height: 100vh;
    background: #444;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-init{
    display: flex;
    gap: 2rem;
    color: rgb(255, 217, 0);
    font-size: 1.2rem;
    padding: 1.5rem;
    cursor: pointer;
    background: #000;
    box-shadow: 0.2rem 0.2rem 0.5rem #444;
}
.cards-container{
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    text-align: center;
    justify-content: center;   
}

.cards-container div{
    padding: 2rem;
}

.init{
    margin: 0 auto;
    width: 40%;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-bottom:  0.05rem solid  #fff;
    color: rgb(255, 217, 0);
    text-align: center;
}
.card{
    display: flex;
    background: #fff;
    border-radius: 1rem 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
    text-align: center;
    transition: 0.3s all;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(255, 217, 0, 0.349);
}

.card:hover{
    transition: 0.6s;
    transform: scale(1.1);
    background: rgb(56, 56, 56);
    color: #fff;
}

.card-s{
    font-size: 2.2rem;
    color:rgb(255, 217, 0);
}

.button-star{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-star button{
    padding: 0.6rem 2rem;
    background: rgb(255, 217, 0);
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
    color: #fff;
    transition: 0.3s;
}

.button-star button:hover{
    transition: 0.6s;
    color: rgb(0, 0, 0);
    background: #fff;
}

.text-api{
    display: flex;
    margin-top: 3rem;
    gap: 3rem;
    border-radius: 1rem;
    padding: 2rem;
    background: #fff;
}

.text-api p{
    font-weight: bold;
}

.styleData{
    font-size: 5rem;
}

@media(max-width: 768px){
    .text-api{
        margin: 2rem auto;
        width: 60%;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .card{
        width: 80%;
    }
}

@media(max-width: 425px){
    .text-api{
        margin: 2rem auto;
        width: 100%;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .card{
        width: 100%;
    }
}